@import "common";
@import "variables/colors";
@import "animation";

.rcw-conversation-container {
  border-radius: 10px;
  box-shadow: 0px 2px 10px 1px $grey-3;

  &.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.rcw-full-screen {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

@media screen and (max-width: 800px) {
  .rcw-conversation-container {
    @include conversation-container-fs;
  }
}

.quick-responses-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 10px;
  border-top: 1px solid lightgray;

  li {
    margin-right: 8px;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    button {
      padding: 6px 12px;
      border-radius: 8px;
      cursor: pointer;
      border: 0;
      transition: 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
